.Home {
    position: relative;
    width: 100%;
}

.Home img {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, rgba(85, 80, 80, 0.719), rgba(61, 37, 37, 0.897))
}

.Home .Div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .Home .Btn {
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
  }

  .Home .Now {
    background-color: rgba(31, 119, 68);
    color: yellow;
  }

  .Home .Later {
    background-color: rgba(179, 24, 132, 0.568);
    color: yellow;
  }

  .Home .Now:hover,
  .Home .Now:active {
      background-color: rgb(6, 73, 45);
  }

  .Home .Later:hover,
  .Home .Later:active {
      background-color: rgba(102, 15, 76);
  }